:host {
    position: fixed;
    left: calc(50vw - 340px);
    top: calc(50vh - 150px);
    background: #fff;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
  }

.title-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.title {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
    text-transform: uppercase;
}


.form-container {
    text-align: center;
    margin-top: 2rem;
} 


.mat-mdc-form-field {
    width: 85%;
}

button {
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}