<div class="todos-wraper">
    <div class="header">
        <div class="top-header">
            <div class="left">
                <h2 class="title">Todo list</h2>
            </div>
            <div class="right">
                <div>Hello {{userName}},</div>
                <div class="log-out" (click)="logOut($event)">Log Out</div>
            </div>
        </div>
        <div class="filters">
            <mat-radio-group class="radio-wrap">
                <mat-radio-button *ngFor="let option of radioOptions" [value]="option.value" [checked]="option.checked"
                    (change)="runFilters('radio', $event.value)">
                    {{option.viewValue}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="outline" class="select-wrap">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selectedOption" (selectionChange)="runFilters('dropdown', $event.value)">
                    <mat-option *ngFor="let option of selectOptions" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="add-new">
            <button mat-raised-button color="primary" mat-button (click)="openDialog($event)">
                Add New
            </button>
            <app-add-todos (onCloseClick)="handleAddModalCancel()" (runFilters)="runFilters()" [todos]="todos"
                [userId]="userId" *ngIf="isAddModalVisible"></app-add-todos>
        </div>
    </div>
    <div class="content">
        <div *ngFor="let todo of filteredTodos">
            <div class="text" [ngClass]="[ todo?.completed ? 'done' : '', todo?.new ? 'new': '' ]">{{todo?.title}}</div>
            <div *ngIf="todo?.priority"  class="priority">{{todo?.priority}}</div>
            <div *ngIf="!todo?.priority" class="priority">Low</div>
            <div class="btns">
                <button mat-icon-button color="primary" class="delete" (click)="handleDelete($event, todo?.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="!todo?.completed" mat-icon-button color="primary" class="done"
                    (click)="handleDone($event, todo?.id)">
                    <mat-icon>done</mat-icon>
                </button>
                <button *ngIf="todo?.completed" mat-icon-button color="primary" class="undo"
                    (click)="handleDone($event, todo?.id)">
                    <mat-icon>undone</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>